<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GestionDeRiesgos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GestionDeRiesgos.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <style>
    html, body {
              height: 100%;
            }

        .container {
              min-height: 100%;
              display: flex;
              flex-direction: column;
            }

        main {
          flex-grow: 1;
        }

        footer {
          margin-top: auto;
           background-color: rgba(65, 173, 231, 0.9); 
        }

    
    </style>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SGRU</a>
                
                  <img class="img-fluid iconoNavbar"  src="~/img/SGRU-4.png" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="nav nav-tabs" id="navId" role="tablist">
                        
                            <a class="nav-link " style="color:#41ADE7;font-weight:bold;" asp-controller="Home" asp-action="Index" >
                                 <i class="bi bi-house"></i> Inicio
                                </a>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:#41ADE7; font-weight:bold;"><i class="bi bi-radioactive me-2"></i>Riesgos</a>
                            <div class="dropdown-menu">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="nav-link text-dark bg-light align-content-center " style="display: flex; align-items: center; justify-content: center;"  asp-area="" asp-controller="Riesgos" asp-action="Create">
                                        <button class="colorBtn btn same-size-btn">
                                         
 Agregar
                                        </button>
                                        </a>
                                   

                                    <a class="nav-link text-dark bg-light align-content-center " style="display: flex; align-items: center; justify-content: center; "  asp-area="" asp-controller="Riesgos" asp-action="Index" asp-route-id="1">
                                        
                                        <button  class="colorBtn btn same-size-btn">

                                            Editar
                                        </button>
                                        </a>
                                   

                                   

                                }
                                <a class="nav-link text-dark bg-light align-content-center " style="display: flex; align-items: center; justify-content: center;"  asp-area="" asp-controller="Riesgos" asp-action="Index" asp-route-id="3">
                                    
                                    <button class="colorBtn btn same-size-btn">
                                        Consultar
                                    </button>
                                    </a>
                         

                                @if (User.Identity.IsAuthenticated)
                                {
                                    

                                    <a class="nav-link text-dark bg-light align-content-center " style="display: flex; align-items: center; justify-content: center;"  asp-area="" asp-controller="Riesgos" asp-action="Index" asp-route-id="2">
                                        
                                        <button class="colorBtn btn same-size-btn">

                                            Eliminar
                                        </button>
                                        </a>
                                   

                                }


                               
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:#41ADE7;font-weight:bold;"><i class="bi bi-journal-bookmark-fill me-2"></i>Planes</a>
                            <div class="dropdown-menu">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="nav-link text-dark bg-light align-content-center " style="display: flex; align-items: center; justify-content: center;" asp-area="" asp-controller="Planes" asp-action="Create">
                                        
                                        <button class="colorBtn btn same-size-btn" >
                                            Agregar
                                        </button>
                                        
                                        </a>
                                    

                                    <a class="nav-link text-dark bg-light align-content-center " style="display: flex; align-items: center; justify-content: center;" asp-area="" asp-controller="Planes" asp-action="Index" asp-route-id="1">
                                        <button  class="colorBtn btn same-size-btn">

                                             Editar
                                        </button>
                                       
                                        </a>
                                 



                                }
                                <a class="nav-link text-dark bg-light align-content-center " style="display: flex; align-items: center; justify-content: center;" asp-area="" asp-controller="Planes" asp-action="Index" asp-route-id="3">
                                    
                                    <button class="colorBtn btn same-size-btn">

                                        Consultar
                                    </button>
                                  </a>
                               

                                @if (User.Identity.IsAuthenticated)
                                {


                                    <a  class="nav-link text-dark bg-light align-content-center " style="display: flex; align-items: center; justify-content: center;" asp-area="" asp-controller="Planes" asp-action="Index" asp-route-id="2">
                                        <button  class="colorBtn btn same-size-btn">

                                            Eliminar
                                        </button>
                                        
                                        </a>
                                 

                                }


                             
                            </div>
                        </li>
                        @*Solo si esta autenticado puede realiazar el cambio de contrasena*@
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:#41ADE7;font-weight:bold;"><i class="bi bi-lock-fill me-2"></i>Seguridad</a>
                                <div class="dropdown-menu">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a  class="nav-link text-dark bg-light align-content-center " style="display: flex; align-items: center; justify-content: center;" asp-area="" asp-controller="Usuarios" asp-action="Create">
                                            
                                            <button  class="colorBtn btn same-size-btn">
                                                Agregar
                                            </button>
                                            </a>
                                       

                                        <a class="nav-link text-dark bg-light align-content-center " style="display: flex; align-items: center; justify-content: center;" asp-area="" asp-controller="Usuarios" asp-action="Index" asp-route-id="1">
                                            
                                            <button  class="colorBtn btn same-size-btn">
                                                Editar
                                            </button>
                                            </a>
                                     



                                    }
                                    <a class="nav-link text-dark bg-light align-content-center " style="display: flex; align-items: center; justify-content: center;" asp-area="" asp-controller="Usuarios" asp-action="Index" asp-route-id="3">
                                        <button  class="colorBtn btn same-size-btn">

                                            Consultar

                                        </button>
                                        </a>
                               

                                    @if (User.Identity.IsAuthenticated)
                                    {


                                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index" asp-route-id="2">
                                            <button  class="colorBtn btn same-size-btn">

                                                Eliminar
                                            </button>
                                            </a>
                                        

                                    }


                                 
                                </div>
                            </li>
                        }

                        

                    </ul>
                    <ul>
                        @*Solo si no esta autenticado debe aparecer la opcion de loguearse*@
                        @if (!User.Identity.IsAuthenticated)
                        {
                           
                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Login"><i class="bi bi-box-arrow-in-right me-2"></i>Login</a>
                           
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                           
                                <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Logout"> <i class="bi bi-box-arrow-left me-2"></i>Cerrar sesion</a>
                           
                        }

                    </ul>
                   
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
  <footer class="page-footer shadow ">
    <div class="d-flex flex-column mx-auto py-1 " style="width: 80%">
      <div class="d-flex flex-wrap justify-content-between m-3">
        <div>
          <a href="/" class="d-flex align-items-center p-0 text-dark">
           
            <span class="ms-3 h5 font-weight-bold">SGRU</span>
          </a>
          <p class="my-1" style="width: 250px">
           Sistema Gestor de Riesgos Universitarios
          </p>
     
        </div>
        <div>
          <p class="h5 mb-4" style="font-weight: 600">Sobre Nosotros</p>
          <ul class="p-0" style="list-style: none; cursor: pointer">
            <li class="my-2">
                <a  class="text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">SGRU</a>
             
            </li>
        
          </ul>
        </div>
        <div>
          <p class="h5 mb-4" style="font-weight: 600">SGRU</p>
          <ul class="p-0" style="list-style: none; cursor: pointer">
            <li class="my-2">
              <a class="text-dark" href="/">Soporte</a>
            </li>
     
          </ul>
        </div>
    
      </div>
      <small class="text-center mt-5">&copy; SGRU</small>
    </div>
  </footer>

  
       





    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>



</html>
