@model GestionDeRiesgos.Models.SeguridadRestablecer;
@{
    ViewData["Title"] = "Restablecer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -Create</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GestionDeRiesgos.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />

  

  <style>
     body {
            position: relative;
             min-height: 10vh;
            margin: 0;
            padding: 0;
        }
        
        .background-svg {
            position: absolute;
            bottom: -140px;
            left: 0;
            width: 100%;
            height: auto;
            z-index: -2;
        }
    </style>

</head>

<body>
     <svg class="background-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#41ADE7" fill-opacity="0.9" d="M0,32L60,80C120,128,240,224,360,240C480,256,600,192,720,138.7C840,85,960,43,1080,42.7C1200,43,1320,85,1380,106.7L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
    </svg>

<h1 class="tituloPanel">Restablecer</h1>
 
            @if (TempData["MensajeError"] != null)
            {
                //se muestra el mensaje de error
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                    <strong>@TempData["MensajeError"]</strong>
                </div>

            }
<div class="row">

    <div class="col-12">

   


         <form asp-action="Restablecer" method="post" id="FormularioRestablecer">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
             <div class="row ">
                <div class="col-xl-4 col-md-6 col-sm-12">
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Contraseña actual</label>
                    <input type="password" asp-for="Password" class="form-control inputs" placeholder="Contraseña actual" />
                </div>
               <div class="mb-3">
                    <label asp-for="NewPassword" class="form-label">Nueva contraseña</label>
                    <input type="password" asp-for="NewPassword" class="form-control inputs" placeholder="Nueva contraseña" />
                </div>
          <div class="mb-3">
                    <label asp-for="ConfirmarPassword" class="form-label">Confirma nueva contraseña</label>
                    <input type="password" asp-for="ConfirmarPassword" class="form-control inputs" placeholder="Confirmar Contraseña" />
                </div>
               <div class="mb-3">
                    <input type="submit" value="Aceptar" class="btn btn-primary" />
                </div>
       
        
            </div>
          

        </div>
   
       
         
        </form>
    </div>
</div>
</body>
</html>



