@model GestionDeRiesgos.Models.Riesgos

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -Create</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GestionDeRiesgos.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />

          <style>
    body {
        background-image: url("@Url.Content("~/img/fondoDetalle3.svg")");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

</head>

<body>




<h1 class="tituloPanel">Añadir Riesgo</h1>






       
     @*Mostrar un mensaje de error mediante el alert*@
        @if (TempData["MensajeCodigo"] != null)
        {
            //Si tiene datos mostramos el alert en caso de que falle la autenticacion
                <div class="alert alert-warning" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </button>
                    <stromg>
                    @TempData["MensajeCodigo"]
                    </stromg>
                </div>

        }


<div class="row">
    <div class="col-12">

   


        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
             <div class="row ">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="form-group">
                   
                    <input asp-for="codigoRiesgo" class="form-control inputs" placeholder="Código de riesgo" />
                    <span asp-validation-for="codigoRiesgo" class="text-danger"></span>
                </div>
            <div class="form-group">
               
                <input asp-for="nombre" class="form-control inputs"  placeholder="Nombre"  />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input asp-for="descripcion" class="form-control inputs"  placeholder="Descripción" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
              
                <input asp-for="probabilidad" class="form-control inputs"  placeholder="Probabilidad" />
                <span asp-validation-for="probabilidad" class="text-danger"></span>
            </div>
            </div>
             <div class="col-xl-4 col-md-6 col-sm-12">
                  <div class="form-group">
               
                <input asp-for="impacto" class="form-control inputs"   placeholder="Impacto"/>
                <span asp-validation-for="impacto" class="text-danger"></span>
            </div>
            
            <div class="form-group">
               
                <input asp-for="fecha" class="form-control inputs"  placeholder="Fecha" />
                <span asp-validation-for="fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input asp-for="estado" class="form-control inputs" placeholder="Estado" />
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            </div>
             <div class="col-xl-4 col-md-6 col-sm-12">
                   <div class="form-group">
               
                <textarea asp-for="observaciones" rows="6" cols="50"  class="form-control inputs" placeholder="Observaciones"></textarea> 
                <span asp-validation-for="observaciones" class="text-danger"></span>
            </div>
            </div>

        </div>
        <div class="row">
            <div class=" justify-content-end d-flex  align-content-end">
                 <div class="form-group">
                <button type="submit" value="Create" class="btnGuardar">Agregar</button> 
                </div>
            </div>
              
        </div>
       
         
        </form>
    </div>
</div>
</body>
</html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
